<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centinela</title>
    <!--==== STYLE.CSS ==== -->

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/contacto.css" />
    <!--==== REMIXICON CDN ==== -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!--==== ANIMATE ON SCROLL CSS CDN ==== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <!---==== HEADER ==== -->
    <header class="container header">
      <!--==== NAVBAR ==== -->

      <nav class="nav">
        <div class="logo">
          <h2>Centinela</h2>
        </div>
        <div class="nav_menu" id="nav_menu">
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>

          <ul class="nav_menu_list">
            <li class="nav_menu_item">
              <a href="/" class="nav_menu_link">Inicio</a>
            </li>
            <li class="nav_menu_item">
              <a href="/cuenta" class="nav_menu_link">cuenta</a>
            </li>
            <li class="nav_menu_item">
              <a href="/acercade" class="nav_menu_link">formularios</a>
            </li>
            <li class="nav_menu_item">
              <a href="/servicios" class="nav_menu_link">servicios</a>
            </li>
          </ul>
        </div>
        <button class="toggle_btn" id="toggle_btn">
          <i class="ri-menu-line"></i>
        </button>
      </nav>
    </header>

    <!--==== MAIN ==== -->
    <!-- formulario de contacto en html y css -->

    <div class="contact_form">
      <div class="formulario">
        <h1>Formulario de contacto</h1>
        <h3>Escríbenos y en breve los pondremos en contacto contigo</h3>

        <form action="submeter-formulario.php" method="post">
          <p>
            <label for="nombre" class="colocar_nombre"
              >Nombre
              <span class="obligatorio">*</span>
            </label>
            <input
              type="text"
              name="introducir_nombre"
              id="nombre"
              required="obligatorio"
              placeholder="Escribe tu nombre"
            />
          </p>

          <p>
            <label for="email" class="colocar_email"
              >Email
              <span class="obligatorio">*</span>
            </label>
            <input
              type="email"
              name="introducir_email"
              id="email"
              required="obligatorio"
              placeholder="Escribe tu Email"
            />
          </p>

          <p>
            <label for="telefone" class="colocar_telefono">Teléfono </label>
            <input
              type="tel"
              name="introducir_telefono"
              id="telefono"
              placeholder="Escribe tu teléfono"
            />
          </p>

          <p>
            <label for="website" class="colocar_website">Sitio web </label>
            <input
              type="url"
              name="introducir_website"
              id="website"
              placeholder="Escribe la URL de tu web"
            />
          </p>

          <p>
            <label for="asunto" class="colocar_asunto"
              >Asunto
              <span class="obligatorio">*</span>
            </label>
            <input
              type="text"
              name="introducir_asunto"
              id="assunto"
              required="obligatorio"
              placeholder="Escribe un asunto"
            />
          </p>

          <p>
            <label for="mensaje" class="colocar_mensaje"
              >Mensaje
              <span class="obligatorio">*</span>
            </label>
            <textarea
              name="introducir_mensaje"
              class="texto_mensaje"
              id="mensaje"
              required="obligatorio"
              placeholder="Deja aquí tu comentario..."
            ></textarea>
          </p>

          <button type="submit" name="enviar_formulario" id="enviar">
            <p>Enviar</p>
          </button>

          <p class="aviso">
            <span class="obligatorio"> * </span>los campos son obligatorios.
          </p>
        </form>
      </div>
    </div>

    <footer></footer>

    <!--==== ANIMATE ON SCROLL JS CDN -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--==== GSAP CDN ==== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <!--==== SCRIPT.JS ==== -->
    <script src="./js/main.js" defer></script>
  </body>
</html>
