<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centinela</title>
    <link rel="shortcut icon" href="images/logonuevo.png" type="image/x-icon">
    <!--==== STYLE.CSS ==== -->
    <link rel="stylesheet" href="css/nav.css" />
    <!--==== REMIXICON CDN ==== -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!--==== ANIMATE ON SCROLL CSS CDN ==== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <!---==== HEADER ==== -->
    <header class="container header">
      <!--==== NAVBAR ==== -->
      <h1><%= %></h1>
      <nav class="nav">
        <div class="logo">
          <h2>Centinela</h2>
        </div>
        <div class="nav_menu" id="nav_menu">
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>
          <ul class="nav_menu_list">
            <li class="nav_menu_item">
              <a href="/" class="nav_menu_link">Inicio</a>
            </li>
            <li class="nav_menu_item">
              <a href="/cuenta" class="nav_menu_link">cuenta</a>
            </li>
            <li class="nav_menu_item">
              <a href="/acercade" class="nav_menu_link">formularios</a>
            </li>
            <li class="nav_menu_item">
              <a href="/servicios" class="nav_menu_link">servicios</a>
            </li>
            <li class="nav_menu_item">
              <a href="/contacto" class="nav_menu_link">contacto</a>
            </li>
          </ul>
        </div>
        <button class="toggle_btn" id="toggle_btn">
          <i class="ri-menu-line"></i>
        </button>
      </nav>
    </header>

    <!-- - ==== HERO ==== → -->
    <section class="wrapper">
      <div class="container">
        <div class="grid-cols-2">
          <div class="grid-item-1">
            <h1 class="main-heading">
              Bienvenidos a
              <span>Centinela</span>
            </h1>
            <p class="info-text">
              En nuestra página, encontrarás una amplia gama de contenido
              relacionado con la seguridad e higiene. Navega a través de
              nuestros artículos, guías, herramientas y consejos para mejorar tu
              experiencia en el laburo.
            </p>
          </div>
          <div class="grid-item-2">
            <div class="team_img_wrapper">
              <img
                src="images/1605.m00.i124.n010.S.c12.324488348 Worker health and safety vector illustration.png"
                alt="team-img"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer></footer>
    <script src="js/nav.js" defer></script>
  </body>
</html>
