<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario</title>
    <link rel="shortcut icon" href="images/logonuevo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1><%= %></h1>
    <section class="main">
      <figure class="main__figure">
        <img src="images/3343892.png" class="main__img" />
      </figure>

      <div class="main__contact">
        <h2 class="main__title">Hola Denuevo!</h2>
        <p class="main__paragraph">Bienvenido nuevamente!</p>

        <form class="main__form" id="formlogin">
          <input
            type="email"
            placeholder="ingrese su correo"
            class="main__input"
            id="correo"
          />

          <input
            type="password"
            placeholder="Contraseña"
            class="main__input"
            id="contraseña"
          />

          <input
            type="submit"
            value="Ingresar"
            class="main__input main__input--send"
          />
        </form>

        <a href="/register">Registrate aqui</a>

        <p class="main__paragraph">O continue con</p>

        <article class="main__social">
          <a href="#" class="main__link">
            <img src="images/google-icon.svg" class="main__icon" />
          </a>

          <a href="#" class="main__link">
            <img src="images/apple.svg" class="main__icon" />
          </a>

          <a href="#" class="main__link">
            <img src="images/facebook.svg" class="main__icon" />
          </a>
        </article>
      </div>
    </section>
    <script src="js/sweetalert.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
