<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="main">
      <figure class="main__figure">
        <img src="images/3343892.png" class="main__img" />
      </figure>

      <div class="main__contact">
        <h2 class="main__title">Bienvenido!</h2>
        <p class="main__paragraph">Porfavor ingrese los datos a continuacion</p>

        <form class="main__form" id="formregister">
          <input
            type="text"
            placeholder="Ingrese su nombre"
            class="main__input"
            id="nombreregistro"
            required
          />

          <input
            type="text"
            placeholder="ingrese su apellido"
            class="main__input"
            required
            id="apellidoregistro"
          />

          <input
            type="tel"
            placeholder="ingrese su numero de telefono"
            class="main__input"
            id="telefonoregistro"
          />

          <input
            type="email"
            placeholder="ingrese su correo electronico"
            class="main__input"
            required
            id="correoregistro"
          />

          <input
            type="password"
            placeholder="ingrese su contraseña"
            class="main__input"
            required
            id="contraseñaregistro"
          />

          <input
            type="submit"
            value="Registrarse"
            class="main__input main__input--send"
          />
        </form>

        <a href="login.html">Ya tienes una cuenta?</a>

        <p class="main__paragraph">O continue con</p>

        <article class="main__social">
          <a href="#" class="main__link">
            <img src="images/google-icon.svg" class="main__icon" />
          </a>

          <a href="#" class="main__link">
            <img src="images/apple.svg" class="main__icon" />
          </a>

          <a href="#" class="main__link">
            <img src="images/facebook.svg" class="main__icon" />
          </a>
        </article>
      </div>
    </section>
    <script src="js/sweetalert.js"></script>
    <script src="js/nuevo_usuario.js"></script>
  </body>
</html>
