<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Landing Page using HTML, CSS & Javascript</title>
    <link rel="shortcut icon" href="images/logonuevo.png" type="image/x-icon">
    <!--==== STYLE.CSS ==== -->
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!--==== REMIXICON CDN ==== -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!--==== ANIMATE ON SCROLL CSS CDN ==== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <!---==== HEADER ==== -->
    <header class="container header">
      <!--==== NAVBAR ==== -->

      <nav class="nav">
        <div class="logo">
          <h2>Centinela</h2>
        </div>
        <div class="nav_menu" id="nav_menu">
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>
          <ul class="nav_menu_list">
            <li class="nav_menu_item">
              <a href="/" class="nav_menu_link">Inicio</a>
            </li>
            <li class="nav_menu_item">
              <a href="/cuenta" class="nav_menu_link">cuenta</a>
            </li>
            <li class="nav_menu_item">
              <a href="/acercade" class="nav_menu_link">formularios</a>
            </li>
            <li class="nav_menu_item">
              <a href="/servicios" class="nav_menu_link">servicios</a>
            </li>
            <li class="nav_menu_item">
              <a href="/contacto" class="nav_menu_link">contacto</a>
            </li>
          </ul>
        </div>
        <button class="toggle_btn" id="toggle_btn">
          <i class="ri-menu-line"></i>
        </button>
      </nav>
    </header>

    <section class="section_services">
      <!--Tarjetera nueva  -->
      <div class="grid-container">
          <div class="grid-columns">
            <div class="img-styleBox">
                <div class="styleBox-border">
                <img class="styleBox-img1" src="images/libreria.png" alt="imagenwiki">
                </div>
                <img class="styleBox-img2" src="images/trabalhadores.png" alt="imagenwiki">
            </div>
          </div>
          <div class="grid-columns">
              <div class="section-intro">
                <h4 class="intro-title" ::after>Acerca de</h4> 
                <h3 class="wiki-title">Wiki</h3>
              </div>
              <p class="paragraph-services">Para profundizar en el tema crucial de la seguridad e higiene, hemos creado una wiki exhaustiva que abarca diversas áreas en el entorno empresarial. En esta 	wiki, encontrarás información detallada sobre las mejores prácticas, regulaciones, consejos y recursos esenciales para mantener un ambiente de trabajo seguro y saludable. </p>
              <a class="buttonwiki" href="/wiki">Leer más</a>
          </div>
      </div>
    </section>

    <footer></footer>

    <!--==== ANIMATE ON SCROLL JS CDN -->
    <script src="./js/main.js" defer></script>
    <script src="js/nav.js" defer></script>
  </body>
</html>
