<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centinela</title>
    <link rel="shortcut icon" href="images/logonuevo.png" type="image/x-icon" />
    <!--==== STYLE.CSS ==== -->
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!--==== REMIXICON CDN ==== -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!--==== ANIMATE ON SCROLL CSS CDN ==== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <!---==== HEADER ==== -->
    <header class="container header">
      <!--==== NAVBAR ==== -->
      <h1><%= %></h1>
      <nav class="nav">
        <div class="logo">
          <h2>Centinela</h2>
        </div>
        <div class="nav_menu" id="nav_menu">
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>
          <ul class="nav_menu_list">
            <li class="nav_menu_item">
              <a href="/" class="nav_menu_link">Inicio</a>
            </li>
            <li class="nav_menu_item">
              <a href="/cuenta" class="nav_menu_link">Cuenta</a>
            </li>
            <li class="nav_menu_item">
              <a href="/acercade" class="nav_menu_link">formularios</a>
            </li>
            <li class="nav_menu_item">
              <a href="/servicios" class="nav_menu_link">servicios</a>
            </li>
            <li class="nav_menu_item">
              <a href="/contacto" class="nav_menu_link">contacto</a>
            </li>
          </ul>
        </div>
        <button class="toggle_btn" id="toggle_btn">
          <i class="ri-menu-line"></i>
        </button>
      </nav>
    </header>

    <section class="hero">
      <div class="wrap">
        <div class="box">
          <div class="box-top">
            <img
              class="box-image"
              src="images/generales.jpg"
              alt="Imagen generales"
            />
            <div class="title-flex">
              <h3 class="box-title">Seguridad Industrial</h3>
              <p class="user-follow-info">Generales</p>
            </div>
            <p class="description">
              Información indispensable para la seguridad industrial requerida
              en todas las empresas.
            </p>
          </div>
          <a href="/generales" class="button">Leer más.</a>
        </div>
        <div class="box">
          <div class="box-top">
            <img
              class="box-image"
              src="images/metalurgia.jpg"
              alt="Metalurgia"
            />
            <div class="title-flex">
              <h3 class="box-title">Seguridad en el torno</h3>
              <p class="user-follow-info">Metalurgia</p>
            </div>
            <p class="description">
              Riesgos, medidas, manejos y cuidados generales para trabajar de
              manera segura en el torno.
            </p>
          </div>
          <a href="/metalurgia" class="button">Leer más.</a>
        </div>
        <div class="box">
          <div class="box-top">
            <img
              class="box-image"
              src="images/carpinteria.jpg"
              alt="Girl Eating Pizza"
            />
            <div class="title-flex">
              <h3 class="box-title">Seguridad con herramientas</h3>
              <p class="user-follow-info">Carpintería</p>
            </div>
            <p class="description">
              Cuidados, recomendaciones, consejos y paso a paso para la
              utilización de las herramientas de forma adecuada.
            </p>
          </div>
          <a href="/carpinteria" class="button">Leer más.</a>
        </div>
        <div class="box">
          <div class="box-top">
            <img
              class="box-image"
              src="images/electricidad.jpg"
              alt="Girl Eating Pizza"
            />
            <div class="title-flex">
              <h3 class="box-title">Seguridad con Tableros Eléctricos</h3>
              <p class="user-follow-info">Electricidad</p>
            </div>
            <p class="description">
              Riesgos, consejos, instalación y consecuencias de la energía
              electrica para un buen manipulamiento de la misma.
            </p>
          </div>
          <a href="/electricidad" class="button">Leer más.</a>
        </div>
      </div>
    </section>

    <footer></footer>
  </body>
  <script src="js/nav.js" defer></script>
</html>
