p {
  padding-left: 10%;
  padding-right: 10%;
}
.sub-titulo {
  display: flex;
  justify-content: center;
}
img {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}
